.font-changes{
    font-size: 20px;
    font-weight: normal;
}

.form-group {
    padding: 0px 20px !important;
}

.aesteric-label:after {
    color: #d00;
    content: "*";
    font-size: 30px;
    position: absolute;
    margin-left: 5px;
    top:-10px;
}


.center {
    margin: 0 auto;
    width: 500px;
    padding: 20px;
    color: white;
}

.signin-signup-btn{
    font-size: 17px;
    transition: ease-in all 0.5s;
    background-color: #000;
    color: #fff;
    padding: 13px 0px;
    margin: 0 auto;
    max-width: 200px;
    width: 100%;
    display: block;
    margin-top: 30px;
    border-radius: 10px;
}

.signin-signup-btn:hover {
    background-color: #eec237;
    transition: ease-in all 0.5s;
    color: #fff;
    border-radius: 25px;
}
